/* 
html {
  overflow: hidden;
} */

body {
  overflow: hidden;
}

.top_bar {
  display: flex;
  position: relative;
  background-color: rgb(225, 225, 237);
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.title_link {
  font-size: 9vh;
  padding-right: 5%;
  font-style: italic;
}

.def_link {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 3.5vh;
}

.def_link:hover {
  text-decoration: underline;
}

.extra_link {
  position: relative;
  padding-left: 6%;
  font-size: 4vh;
  z-index: 1;
}

.extra_link:hover {
  text-decoration: underline;
}

.footer_con {
  width: 100%;
  height: 20vh;
  background-color: gray;
}

.title_con {
  display: flex;
}

.chosen_title_right {
  position: absolute;
  font-size: 30vh;
  z-index: 0;
  right: 0;
  top: -7vh;
  margin: 0;
  user-select: none;
  z-index: 0;
}

.chosen_title_left {
  position: absolute;
  font-size: 30vh;
  z-index: 0;
  left: 0;
  top: -7vh;
  margin: 0;
  user-select: none;
  z-index: 0;
}

.body_con {
  position: relative;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-content: center;
}

.slideshow {
  margin: auto;
  margin-top: 2%;
  width: 55%;
  overflow: hidden;
  z-index: -1;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 70vh;
  width: 100%;
}

.slideshowButtons {
  text-align: center;
}

.slideshowButton {
  display: inline-block;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  cursor: pointer;
  margin: 2vh 1vh 0px;
  background-color: #c4c4c4;
}

.slideshowButton.active {
  background-color: #6a0dad;
}

.shi_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90vh;
  cursor: pointer;
  border-width: 0vh;
  background-color: #72bfd0;
}

.shi_container:nth-child(odd) {
  background-color: #8dcadd;
}
.title_img {
  height: 60vh;
  width: 50vh;
}

.title_name {
  font-weight: bold;
  font-size: 10vh;
}

.disappear {
  display: none;
}
