body {
  overflow: auto;
}

.title_card {
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: blue;
  justify-content: center;
  align-items: center;
}

.shopping_items_con {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.shopping_item {
  height: 70vh;
  width: 60vh;
  margin: 18vh;
  margin-bottom: 4vh;
  background-color: red;
}
