.title_card {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.banner_img {
  width: 60%;
  height: 100%;
}

.banner_title {
  position: absolute;
  font-size: 16vh;
  color: white;
}

.shopping_items_con {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.shopping_item {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 60vh;
  margin: 10vh;
  margin-left: 24vh;
  margin-bottom: 8vh;
}

.shopping_img {
  align-self: center;
  justify-self: center;
  height: 65vh;
  width: 50vh;
}

.shopping_name {
  font-size: 6vh;
  font-weight: bold;
}

.shopping_price {
  font-size: 4vh;
  font-style: italic;
}
